// src/styles/index.scss

// Use variables and mixins with namespace (or wildcard)
@use 'variables' as *;
@use 'mixins' as *;

// Base reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Base styles
html {
  font-size: 16px;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $dark;
  background-color: $light;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}